#result svg {
    width: 100%;
    height: auto;
}
#saved-diagrams div {
    cursor: pointer;
    border: 1px solid #ccc;
    padding: 5px;
    margin-bottom: 5px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #333;
    margin-top: 20px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    max-width: 1400px;
    margin-top: 20px;
    gap: 20px; /* Add space between columns */
}

.column {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    flex: 1;
    min-width: 250px;
    max-width: 300px;
}

form {
    display: flex;
    flex-direction: column;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 300px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #007BFF;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
}

button:hover {
    background-color: #0056b3;
}

#result {
    margin-top: 20px;
    width: 100%;
    max-width: 600px;
}

#scale-filters {
    margin-top: 20px;
    width: 100%;
    max-width: 200px;
    display: flex;
    flex-direction: column; /* Stack filter sections vertically */
    gap: 10px; /* Add space between filter sections */
}

.filter-section {
    background: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.filter-header {
    cursor: pointer;
    margin: 0;
}

.filter-content {
    display: none; /* Hide content by default */
    padding-top: 10px;
}

#saved-diagrams {
    margin-top: 20px;
    width: 100%;
    max-width: 300px;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.mode-option {
    display: inline-block;
    padding: 5px 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
}

.mode-option.selected {
    border-color: green;
    background-color: #e0ffe0;
}